### Project1_MoMovies - Mo Money Movies

##### How to Make The Most Money with One Movie

In [3]:
# dependencies
import requests
import json
from omdb_key import omdb_key
from tmdb_key import tmdb_key
import pandas as pd
from pathlib import Path

In [4]:
#import csv's
filtered_data_csv = Path("reduced_filtered_movies.csv")

data_df = pd.read_csv(filtered_data_csv,low_memory=False)

In [5]:
data_df

,IMDB ID,Title,Budget,Revenue,Year
0,tt0444653,Keeping Mum,"$169,000.00","$18,564,702.00",2005
1,tt0439182,Four Eyed Monsters,"$250,000.00","$245,000.00",2005
2,tt0436613,Murderball,"$300,000.00","$1,750,211.00",2005
3,tt0417385,Twelve and Holding,"$400,000.00","$95,687.00",2005
4,tt0393109,Brick,"$475,000.00","$3,919,254.00",2005
...,...,...,...,...,...
2292,tt1964418,Tomorrowland,"$190,000,000.00","$209,154,322.00",2015
2293,tt2820852,Furious 7,"$190,000,000.00","$1,506,249,360.00",2015
2294,tt2379713,Spectre,"$245,000,000.00","$880,674,609.00",2015
2295,tt2488496,Star Wars: The Force Awakens,"$245,000,000.00","$2,068,223,624.00",2015
2296,tt2395427,Avengers: Age of Ultron,"$280,000,000.00","$1,405,403,694.00",2015

In [6]:
# OMDB url and api prep for imdb id
omdb_url = "http://www.omdbapi.com/?apikey=" + omdb_key + "&i="
# omdb_key = "&apikey=" + omdb_key

# TMDB API url and key
tmdb_url = "https://api.themoviedb.org/3/search/movie?api_key=" + tmdb_key + "&query="

In [7]:
#declare imdb id's for searching api
imdb_ids = data_df["IMDB ID"]

In [ ]:
# Init empty movie data list
movies_data = []

for id in imdb_ids:
    omdb_response = requests.get(omdb_url + id)
    omdb_data = omdb_response.json()
    
    if "imdbID" in omdb_data:
            movie_info = {
                "Title": omdb_data.get("Title"),
                "Year": omdb_data.get("Year"),
                "IMDB Rating": omdb_data.get("imdbRating"),
                "IMDB Votes": omdb_data.get("imdbVotes"),
                "Genre": omdb_data.get("Genre"),
                "Box Office": omdb_data.get("BoxOffice"),
                "IMDB ID": omdb_data.get("imdbID")
            }
            movies_data.append(movie_info)

In [57]:
movies_df = pd.DataFrame(movies_data)
movies_df

,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID
0,Keeping Mum,2005,6.8,"36,019","Comedy, Crime","$1,619,466",tt0444653
1,Four Eyed Monsters,2005,6.2,"1,235","Comedy, Drama, Fantasy","$3,135",tt0439182
2,Murderball,2005,7.7,"10,475","Documentary, Sport","$1,531,154",tt0436613
3,12 and Holding,2005,7.4,"7,133",Drama,"$96,464",tt0417385
4,Brick,2005,7.1,"110,479","Crime, Drama, Mystery","$2,075,743",tt0393109
...,...,...,...,...,...,...,...
948,Mr. Nobody,2009,7.7,"247,093","Drama, Fantasy, Romance","$3,622",tt0485947
949,Street Fighter: The Legend of Chun-Li,2009,3.7,"25,435","Action, Crime, Fantasy","$8,742,261",tt0891592
950,The Boat That Rocked,2009,7.3,"116,336","Comedy, Drama, Music","$8,017,917",tt1131729
951,Gamer,2009,5.7,"140,082","Action, Sci-Fi, Thriller","$20,534,907",tt1034032
952,The International,2009,6.5,"100,382","Action, Crime, Drama","$25,450,527",tt0963178

In [33]:
movies_df

,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID
0,Keeping Mum,2005,6.8,"36,019","Comedy, Crime","$1,619,466",tt0444653
1,Four Eyed Monsters,2005,6.2,"1,235","Comedy, Drama, Fantasy","$3,135",tt0439182
2,Murderball,2005,7.7,"10,475","Documentary, Sport","$1,531,154",tt0436613
3,12 and Holding,2005,7.4,"7,133",Drama,"$96,464",tt0417385
4,Brick,2005,7.1,"110,479","Crime, Drama, Mystery","$2,075,743",tt0393109
...,...,...,...,...,...,...,...
948,Mr. Nobody,2009,7.7,"247,093","Drama, Fantasy, Romance","$3,622",tt0485947
949,Street Fighter: The Legend of Chun-Li,2009,3.7,"25,435","Action, Crime, Fantasy","$8,742,261",tt0891592
950,The Boat That Rocked,2009,7.3,"116,336","Comedy, Drama, Music","$8,017,917",tt1131729
951,Gamer,2009,5.7,"140,082","Action, Sci-Fi, Thriller","$20,534,907",tt1034032
952,The International,2009,6.5,"100,382","Action, Crime, Drama","$25,450,527",tt0963178

In [39]:
mo_movies_df = pd.merge(movies_df, data_df, on="IMDB ID", how="inner")
mo_movies_df

,Title_x,Year_x,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID,Title_y,Budget,Revenue,Year_y
0,Keeping Mum,2005,6.8,"36,019","Comedy, Crime","$1,619,466",tt0444653,Keeping Mum,"$169,000.00","$18,564,702.00",2005
1,Four Eyed Monsters,2005,6.2,"1,235","Comedy, Drama, Fantasy","$3,135",tt0439182,Four Eyed Monsters,"$250,000.00","$245,000.00",2005
2,Murderball,2005,7.7,"10,475","Documentary, Sport","$1,531,154",tt0436613,Murderball,"$300,000.00","$1,750,211.00",2005
3,12 and Holding,2005,7.4,"7,133",Drama,"$96,464",tt0417385,Twelve and Holding,"$400,000.00","$95,687.00",2005
4,Brick,2005,7.1,"110,479","Crime, Drama, Mystery","$2,075,743",tt0393109,Brick,"$475,000.00","$3,919,254.00",2005
...,...,...,...,...,...,...,...,...,...,...,...
948,Mr. Nobody,2009,7.7,"247,093","Drama, Fantasy, Romance","$3,622",tt0485947,Mr. Nobody,"$47,000,000.00","$3,547,209.00",2009
949,Street Fighter: The Legend of Chun-Li,2009,3.7,"25,435","Action, Crime, Fantasy","$8,742,261",tt0891592,Street Fighter: The Legend of Chun-Li,"$50,000,000.00","$12,764,201.00",2009
950,The Boat That Rocked,2009,7.3,"116,336","Comedy, Drama, Music","$8,017,917",tt1131729,The Boat That Rocked,"$50,000,000.00","$36,348,784.00",2009
951,Gamer,2009,5.7,"140,082","Action, Sci-Fi, Thriller","$20,534,907",tt1034032,Gamer,"$50,000,000.00","$40,828,540.00",2009
952,The International,2009,6.5,"100,382","Action, Crime, Drama","$25,450,527",tt0963178,The International,"$50,000,000.00","$60,161,391.00",2009

In [41]:
mo_movies_df = mo_movies_df.rename(columns={"Title_x": "Title"})
mo_movies_df = mo_movies_df.drop(columns=["Title_y"])

In [43]:
mo_movies_df

,Title,Year_x,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID,Budget,Revenue,Year_y
0,Keeping Mum,2005,6.8,"36,019","Comedy, Crime","$1,619,466",tt0444653,"$169,000.00","$18,564,702.00",2005
1,Four Eyed Monsters,2005,6.2,"1,235","Comedy, Drama, Fantasy","$3,135",tt0439182,"$250,000.00","$245,000.00",2005
2,Murderball,2005,7.7,"10,475","Documentary, Sport","$1,531,154",tt0436613,"$300,000.00","$1,750,211.00",2005
3,12 and Holding,2005,7.4,"7,133",Drama,"$96,464",tt0417385,"$400,000.00","$95,687.00",2005
4,Brick,2005,7.1,"110,479","Crime, Drama, Mystery","$2,075,743",tt0393109,"$475,000.00","$3,919,254.00",2005
...,...,...,...,...,...,...,...,...,...,...
948,Mr. Nobody,2009,7.7,"247,093","Drama, Fantasy, Romance","$3,622",tt0485947,"$47,000,000.00","$3,547,209.00",2009
949,Street Fighter: The Legend of Chun-Li,2009,3.7,"25,435","Action, Crime, Fantasy","$8,742,261",tt0891592,"$50,000,000.00","$12,764,201.00",2009
950,The Boat That Rocked,2009,7.3,"116,336","Comedy, Drama, Music","$8,017,917",tt1131729,"$50,000,000.00","$36,348,784.00",2009
951,Gamer,2009,5.7,"140,082","Action, Sci-Fi, Thriller","$20,534,907",tt1034032,"$50,000,000.00","$40,828,540.00",2009
952,The International,2009,6.5,"100,382","Action, Crime, Drama","$25,450,527",tt0963178,"$50,000,000.00","$60,161,391.00",2009

In [45]:
mo_movies_df = mo_movies_df.rename(columns={"Year_x": "Year"})
mo_movies_df = mo_movies_df.drop(columns=["Year_y"])

In [53]:
mo_movies_df

,Title,Year,IMDB Rating,IMDB Votes,Genre,Box Office,IMDB ID,Budget,Revenue
0,Keeping Mum,2005,6.8,"36,019","Comedy, Crime","$1,619,466",tt0444653,"$169,000.00","$18,564,702.00"
1,Four Eyed Monsters,2005,6.2,"1,235","Comedy, Drama, Fantasy","$3,135",tt0439182,"$250,000.00","$245,000.00"
2,Murderball,2005,7.7,"10,475","Documentary, Sport","$1,531,154",tt0436613,"$300,000.00","$1,750,211.00"
3,12 and Holding,2005,7.4,"7,133",Drama,"$96,464",tt0417385,"$400,000.00","$95,687.00"
4,Brick,2005,7.1,"110,479","Crime, Drama, Mystery","$2,075,743",tt0393109,"$475,000.00","$3,919,254.00"
...,...,...,...,...,...,...,...,...,...
948,Mr. Nobody,2009,7.7,"247,093","Drama, Fantasy, Romance","$3,622",tt0485947,"$47,000,000.00","$3,547,209.00"
949,Street Fighter: The Legend of Chun-Li,2009,3.7,"25,435","Action, Crime, Fantasy","$8,742,261",tt0891592,"$50,000,000.00","$12,764,201.00"
950,The Boat That Rocked,2009,7.3,"116,336","Comedy, Drama, Music","$8,017,917",tt1131729,"$50,000,000.00","$36,348,784.00"
951,Gamer,2009,5.7,"140,082","Action, Sci-Fi, Thriller","$20,534,907",tt1034032,"$50,000,000.00","$40,828,540.00"
952,The International,2009,6.5,"100,382","Action, Crime, Drama","$25,450,527",tt0963178,"$50,000,000.00","$60,161,391.00"

In [55]:
mo_movies_df.to_csv("mo_movies_df.csv", index=False)